:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background:
    radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
    radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 25px 25px,
    radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 25px 0,
    radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 25px,
    radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 25px 0,
    radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 25px,
    radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
    radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 25px 25px,
    linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
    linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
    background-color: #300;
    background-size: 50px 50px;
}

.cx-header {
  /* background:
    radial-gradient(hsl(0, 100%, 22%) 4%, hsl(0, 100%, 13%) 9%, hsla(0, 100%, 15%, 0) 9%) 0 0,
    radial-gradient(hsl(0, 100%, 22%) 4%, hsl(0, 100%, 13%) 8%, hsla(0, 100%, 15%, 0) 10%) 25px 25px,
    radial-gradient(hsla(0, 100%, 25%, 0.8) 15%, hsla(0, 100%, 15%, 0)) 25px 0,
    radial-gradient(hsla(0, 100%, 25%, 0.8) 15%, hsla(0, 100%, 15%, 0)) 0 25px,
    radial-gradient(hsla(0, 100%, 15%, 1) 35%, hsla(0, 100%, 15%, 0) 60%) 25px 0,
    radial-gradient(hsla(0, 100%, 15%, 1) 35%, hsla(0, 100%, 15%, 0) 60%) 50px 25px,
    radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 15%, 0)) 0 0,
    radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 15%, 0)) 25px 25px,
    linear-gradient(45deg, hsla(0, 100%, 15%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 15%, 0) 70%) 0 0,
    linear-gradient(-45deg, hsla(0, 100%, 15%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 15%, 0) 70%) 0 0;
  background-color: #300; */
  /* background-size: 50px 50px; */
  background-color: hsla(0, 100%, 5%, 0.5);
  color: #EEE;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
}

.cx-header a {
  color: #EEE;
  text-decoration: none;
}

.cx-header a:hover {
  color: #DDD;
  background-color: hsla(0, 100%, 5%, 0.5);
}

/* This fills the remaining space, by using flexbox.
Every toolbar row uses a flexbox row layout.*/
.fill-remaining-space {
  flex: 1 1 auto;
}

.cx-strapline {
  text-align: right;
  font-size: 0.75em;
}

.cx-small {
  font-size: 0.75em;
  color: #DDD;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: .75em;
  font-weight: normal;
}
