<mat-nav-list (click)="closeSidenav()">
  <mat-list-item>
    <a mat-line [routerLink]="['/showcase']">Showcase
    <span mat-line class="secondary">art, games &amp; interactive stories</span>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a mat-line [routerLink]="['/about']">About
    <span mat-line class="secondary">Christine Wilks</span>
    </a>
  </mat-list-item>
  <mat-list-item>
    Blog (temp)
    <!-- <a mat-line href="http://crissxross.net/wilx/">Blog
    <span mat-line class="secondary">includes more digital art</span>
    </a> -->
  </mat-list-item>
</mat-nav-list>
<mat-divider></mat-divider>
