<div class="card-container">

  <md-card *ngFor="let featuredWork of featuredWork$ | async">
    <md-card-title>{{featuredWork.title}}</md-card-title>
    <img md-card-image [alt]="featuredWork.id" src="img/{{featuredWork.id}}.png">
    <md-card-content>
      <p>{{featuredWork.description}}</p>
      <p>{{featuredWork.collab}}</p>
    </md-card-content>
    <md-card-footer>
      <p>{{featuredWork.tech}}</p>
      <p>{{featuredWork.pubdate}}</p>
    </md-card-footer>
      <md-card-actions align="end">
        <!--<button md-raised-button (click)="gotoDetail()">More details</button>-->
        <a md-raised-button md-anchor [routerLink]="['/showcase', featuredWork.id]">more details</a>
        <a md-raised-button md-anchor href={{featuredWork.workUrl}} target="_blank">PLAY</a>
      </md-card-actions>
  </md-card>

  <md-card *ngFor="let listWork of listWork$ | async">
    <md-card-title-group>
      <img md-card-sm-image [alt]="listWork.id" src="img/{{listWork.id}}-thumb.png">
      <md-card-title>{{listWork.title}}</md-card-title>
      <md-card-subtitle>
        {{listWork.description}}.
      </md-card-subtitle>
    </md-card-title-group>
    <md-card-footer>
      <p>{{listWork.tech}}</p>
      <p>{{listWork.pubdate}}</p>
    </md-card-footer>
    <md-card-actions align="end">
      <a md-raised-button md-anchor href={{listWork.workUrl}} target="_blank">PLAY</a>
    </md-card-actions>
  </md-card>

</div>