.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

mat-card {
  width: 400px;
  box-sizing: border-box;
  margin: 16px;
}

mat-card-footer {
  color: #9A9A9A;
  font-size: 0.75em;
  line-height: 0.6em;
  padding-left: 16px;
}

mat-card-content a {
  color: #A30018;
  text-decoration: none;
}

mat-card-content a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 20px;
  font-size: 0.95em;
}
li {
  margin-top: 6px;
}
