<div class="card-container">

    <md-card *ngFor="let featuredWork of featuredWorks">
      <md-card-title>{{featuredWork.title}}</md-card-title>
      <md-card-content>
        <p>{{featuredWork.description}}</p>
        <p>{{featuredWork.collab}}</p>
        <small>{{featuredWork.tech}}, {{featuredWork.pubdate}}</small>
      </md-card-content>
      <md-card-actions align="end">
        <button md-raised-button>More details</button>
        <a md-raised-button md-anchor href={{featuredWork.workUrl}}>PLAY</a>
      </md-card-actions>
    </md-card>

    <md-card *ngFor="let listWork of listWorks">
      <md-card-title>{{listWork.title}}</md-card-title>
      <md-card-content>
        {{listWork.description}}. <small>{{listWork.tech}}, {{listWork.pubdate}}</small>
      </md-card-content>
      <md-card-actions align="end">
        <a md-raised-button md-anchor href={{listWork.workUrl}}>PLAY</a>
      </md-card-actions>
    </md-card>

</div>