<div class="card-container">
  <md-card>
    <md-card-subtitle>About</md-card-subtitle>
    <md-card-title>Christine Wilks</md-card-title>
    <md-card-content>
      <p>Hello! I'm a British digital writer, artist and developer of playable stories. My digital fiction, Underbelly, won
        the <a href="http://www.newmediawritingprize.co.uk/interface_2010.html">New Media Writing Prize 2010</a> and the
        MaMSIE Digital Media Competition 2011. My work is published in online journals and anthologies, including the
        <a
          href="http://collection.eliterature.org/2/index.html">Electronic Literature Collection, Volume 2</a> and the <a href="http://anthology.elmcip.net/">ELMCIP Anthology of European Electronic Literature</a>,
          and has been presented at international festivals, exhibitions and conferences. You can also see my work here on my
          <a [routerLink]="['/showcase']">showcase</a>.</p>

      <p>I'm currently doing a practice-based <a href="http://www.writingdigital.com/phd-students/">PhD in Digital Writing at Bath Spa University</a>,
        which is taking up most of my time, but I'm also Creative Director of e-learning specialists, Make It Happen.</p>

      <p>
        twitter: <a href="https://twitter.com/crissxross">@crissxross</a> | GitHub: <a href="https://github.com/crissxross">crissxross</a>        | find me on: <a href="https://www.google.com/+ChristineWilks">Google+</a> | <a href="https://www.facebook.com/christine.wilks">Facebook</a>        | <a href="http://www.pinterest.com/crissxross/">Pinterest</a> or <a href="http://crissxross.net/wilx/contact/">contact me</a>        here.
      </p>
    </md-card-content>
  </md-card>
</div>