.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
  /* grid-template-rows: 1fr 1fr; */
  grid-gap: 1rem;
  justify-content: center;
  align-items: start;
  /* height: 100%; */
}

/* .card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
} */

mat-card {
  /* width: 500px; */
  box-sizing: border-box;
  margin: 16px;
}

mat-card-content {
  line-height: 1.5em;
}

a {
  color: #A30018;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
