<div class="card-container">
  <mat-card *ngFor="let listWork of listWorks">
    <mat-card-title-group>
      <img mat-card-sm-image [alt]="listWork.id" src="assets/img/{{listWork.id}}-thumb.png">
      <mat-card-title>{{listWork.title}}</mat-card-title>
      <mat-card-subtitle>
        {{listWork.description}}.
      </mat-card-subtitle>
    </mat-card-title-group>
    <!-- MORE INFO -->
      <mat-card-content *ngIf="!panel.isCollapsed" [@panelState]="open">
        <p>{{listWork.moreinfo}}</p>
        <p><strong>{{listWork.title}}</strong> publications/exhibitions/performances:</p>
        <ul>
          <li *ngFor="let accolade of listWork.accolades">
            <a href="{{accolade.url}}">
            {{accolade.name}}</a>
          </li>
        </ul>
      </mat-card-content>

    <mat-card-footer>
      <p>{{listWork.tech}}</p>
      <p>{{listWork.pubdate}}</p>
    </mat-card-footer>

    <mat-card-actions align="end">
      <button mat-raised-button collapseToggle #panel="collapsible">
        <span *ngIf="panel.isCollapsed">more info</span>
        <span *ngIf="!panel.isCollapsed">less info</span>
      </button>

      <a mat-raised-button mat-anchor href={{listWork.workUrl}} target="_blank">PLAY</a>
    </mat-card-actions>
  </mat-card>
</div>
