<div class="card-container">

  <mat-card *ngFor="let listWork of listWorks">
    
    <mat-card-title-group>
      <img mat-card-sm-image [alt]="listWork.id" src="assets/img/{{listWork.id}}-thumb.png">
      <mat-card-title>{{listWork.title}}</mat-card-title>
      <mat-card-subtitle>
        {{listWork.description}}.
      </mat-card-subtitle>
    </mat-card-title-group>

    <!-- MORE INFO -->
      <mat-card-content>
        <div class="inner-grid">
          <p class="specs">{{listWork.tech}}</p>
          <p class="specs">{{listWork.pubdate}}</p>
          <a mat-fab
            href={{listWork.workUrl}} target="_blank"
            class="play">PLAY</a>
        </div>
      </mat-card-content>

      <mat-card-footer>
        <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false" #panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              More information
            </mat-panel-title>
            <mat-panel-description>
              {{panelOpenState ? 'close' : 'open'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- Visible when panel is OPEN -->
          <p>{{listWork.moreinfo}}</p>
            <p><strong>{{listWork.title}}</strong> publications/exhibitions/performances:</p>
            <ul>
              <li *ngFor="let accolade of listWork.accolades">
                <a href="{{accolade.url}}">
                {{accolade.name}}</a>
              </li>
            </ul>
            <mat-action-row>
              <button mat-button (click)="panel.close()">Close</button>
            </mat-action-row>
          </mat-expansion-panel>
      </mat-card-footer>

  </mat-card>

</div>
