<div class="card-container">

  <mat-card *ngFor="let featuredWork of featuredWorks">

    <mat-card-title>{{featuredWork.title}}</mat-card-title>
    <img mat-card-image [alt]="featuredWork.id" src="assets/img/{{featuredWork.id}}.png">
    <mat-card-content>
      <p>{{featuredWork.description}}</p>
      <p>{{featuredWork.collab}}</p>
      <!-- MORE INFO -->
      <div *ngIf="!panel.isCollapsed" [@panelState]="open">
        <p>{{featuredWork.moreinfo}}</p>
        <ul class="awards">
          <li *ngFor="let award of featuredWork.awards">
            <a href="{{award.url}}">
            {{award.name}}</a>
          </li>
        </ul>
        <p><strong>{{featuredWork.title}}</strong> publications/exhibitions/performances:</p>
        <ul>
          <li *ngFor="let accolade of featuredWork.accolades">
            <a href="{{accolade.url}}">
            {{accolade.name}}</a>
          </li>
        </ul>
      </div>
    </mat-card-content>

    <mat-card-footer>
      <p>{{featuredWork.tech}}</p>
      <p>{{featuredWork.pubdate}}</p>
      <mat-card-actions align="end">
        <button mat-raised-button collapseToggle #panel="collapsible">
          <span *ngIf="panel.isCollapsed">more info</span>
          <span *ngIf="!panel.isCollapsed">less info</span>
        </button>

        <a mat-raised-button mat-anchor href={{featuredWork.workUrl}} target="_blank">PLAY</a>
      </mat-card-actions>
    </mat-card-footer>

  </mat-card>

</div>
