<div class="card-container">

  <mat-card *ngFor="let featuredWork of featuredWorks">

    <mat-card-title>{{featuredWork.title}}</mat-card-title>
    <img mat-card-image [alt]="featuredWork.id" src="assets/img/{{featuredWork.id}}.png">
    <mat-card-content>

      <p>{{featuredWork.description}}</p>
      <p>{{featuredWork.collab}}</p>
      <div class="inner-grid">
        <p class="specs">{{featuredWork.pubdate}}</p>
        <p class="specs">{{featuredWork.tech}}</p>
        <!-- <a mat-raised-button href={{featuredWork.workUrl}} target="_blank">PLAY</a> -->
        <a mat-fab color="accent"
          href={{featuredWork.workUrl}} target="_blank"
          matTooltip="Opens in a new window/tab"
          matTooltipPosition="before"
          class="play">PLAY</a>
      </div>

    </mat-card-content>

    <!-- MORE INFO -->
    <mat-card-footer>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         #panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          More information
        </mat-panel-title>
        <mat-panel-description>
          {{panelOpenState ? 'close' : 'open'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- Visible when panel is OPEN -->
      <p>{{featuredWork.moreinfo}}</p>
        <ul class="awards">
          <li *ngFor="let award of featuredWork.awards">
            <a href="{{award.url}}">
            {{award.name}}</a>
          </li>
        </ul>
        <p><strong>{{featuredWork.title}}</strong> publications/exhibitions/performances:</p>
        <ul>
          <li *ngFor="let accolade of featuredWork.accolades">
            <a href="{{accolade.url}}">
            {{accolade.name}}</a>
          </li>
        </ul>
        <mat-action-row>
          <button mat-button (click)="panel.close()">Close</button>
        </mat-action-row>
    </mat-expansion-panel>
  </mat-card-footer>

  </mat-card>

</div>
