.cx-toolbar {
  background-color: hsla(0, 100%, 5%, 0.5);
  color: #EEE;
}

md-card {
  width: 400px;
  box-sizing: border-box;
  margin: 16px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
  Every toolbar row uses a flexbox row layout.*/
  flex: 1 1 auto;
}
