<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav>
    <h3>{{title}}</h3>
    <md-nav-list>
      <a md-list-item href="http://crissxross.net">Showcase</a>
      <a md-list-item href="http://crissxross.net/#/about">About me</a>
      <a md-list-item href="http://crissxross.net/wilx/">Blog</a>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar class="cx-toolbar">
    <button md-icon-button (click)="sidenav.open()">
    <md-icon>menu</md-icon>
  </button>
    <h3>{{title}}</h3>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <span>about | blog</span>
  </md-toolbar>

  <div class="card-container">
    <md-card>
      <md-card-title>Title of Work</md-card-title>
      <md-card-content>
        The card content is a description of the work that features, or merely appears, in my crissxross showcase. Whatever form
        it takes, the piece described is likely to be a work of Electronic Literature.
      </md-card-content>
      <!--<md-card-footer>-->
      <md-card-actions align="end">
        <button md-raised-button>More details</button>
        <button md-raised-button>PLAY</button>
      </md-card-actions>
      <!--</md-card-footer>-->
    </md-card>

    <md-card>
      <md-card-title>Copy of Work</md-card-title>
      <md-card-content>
        The card content is a description of the work that features, or merely appears, in my crissxross showcase. Whatever form
        it takes, the piece described is likely to be a work of Electronic Literature. The card content is a description
        of the work that features, or merely appears, in my crissxross showcase. Whatever form it takes, the piece described
        is likely to be a work of Electronic Literature.
      </md-card-content>
      <md-card-actions align="end">
        <button md-raised-button>More details</button>
        <button md-raised-button>PLAY</button>
        <!--<button md-fab><md-icon>play_arrow</md-icon></button>-->
      </md-card-actions>
    </md-card>

    <md-card>
      <md-card-title>Copy Two</md-card-title>
      <md-card-content>
        The card content is a description of the work that features, or merely appears, in my crissxross showcase. Whatever form
        it takes, the piece described is likely to be a work of Electronic Literature. The card content is a description
        of the work that features, or merely appears, in my crissxross showcase.
      </md-card-content>
      <md-card-actions align="end">
        <button md-raised-button>More details</button>
        <button md-raised-button>PLAY</button>
      </md-card-actions>
    </md-card>

    <md-card>
      <md-card-title>Title Copy Three</md-card-title>
      <md-card-content>
        The card content is a description of the work that features, or merely appears, in my crissxross showcase. It is a work of Electronic Literature.
      </md-card-content>
      <!--<md-card-footer>-->
      <md-card-actions align="end">
        <button md-raised-button>More details</button>
        <button md-raised-button>PLAY</button>
      </md-card-actions>
      <!--</md-card-footer>-->
    </md-card>

  </div>

  <footer>
    <div>
      <p><span class="glyphicon glyphicon-heart"></span> Interactive Storytelling by Christine Wilks</p>
      <p class="small"><a href="http://lea.verou.me/css3patterns/#upholstery">CSS3 upholstery pattern by Nate Eagle</a></p>
         <p class="small"><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.0/uk/"><img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/2.0/uk/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.0/uk/">Creative Commons Attribution-NonCommercial-NoDerivs 2.0 UK: England &amp; Wales License</a>.</p>
       </div>
    </footer>

</md-sidenav-layout>