/* NOTE: material2 toolbar.scss default height values:

  $mat-toolbar-height-desktop: 64px !default;
  $mat-toolbar-height-mobile-portrait: 56px !default;
  $mat-toolbar-height-mobile-landscape: 48px !default;

  But NOTE: "The height for mobile landscape devices has been ignored" due to issues.

  $mat-toolbar-row-padding: 16px !default;

  Use media query to accommodate responsive toolbar */

.cx-container {
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

@media screen and (min-width: 600px) {
  .cx-container {
    top: 64px;
  }
  .mat-drawer {
    background-color: hsla(0, 100%, 5%, 0.55);
    /* or same as header... */
    /* background-color: hsla(0, 100%, 5%, 0.5); */
  }
}

/* .cx-content {} */
