main {
  display: grid;
}

mat-sidenav-container {
  background-color: transparent;
}

.cx-toolbar {
  background-color: hsla(0, 100%, 5%, 0.5);
  color: #EEE;
}

.cx-toolbar a {
  color: #EEE;
  text-decoration: none;
}

.cx-toolbar a:hover {
  color: #DDD;
  background-color: hsla(0, 100%, 5%, 0.5);
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
  Every toolbar row uses a flexbox row layout.*/
  flex: 1 1 auto;
}

.cx-strapline {
  text-align: right;
  font-size: 0.75em;
}

.cx-small {
  font-size: 0.75em;
  color: #DDD;
}

.side-title {
  padding: 0 16px;
}

.secondary {
  color: rgba(0,0,0,0.54);
  font-size: 0.813em;
  padding-top: 2px;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.2em; }
h3 {
  font-size: .75em;
  font-weight: normal;
}

footer {
  color: #BDBDBD;
  padding-top: 30px;
  margin-bottom: 10px;
  height: 50px;
  text-align: center;
}

footer a {
  color: #BDBDBD;
  text-decoration: underline;
}

