<div class="card-container">
  <md-card>
    <md-card-title>{{work.title}}</md-card-title>
    <img md-card-image [alt]="work.id" src="img/{{work.id}}.png">
    <md-card-content>
      <p>{{work.description}}</p>
      <p>{{work.collab}}</p>
      <h4>More details</h4>
      <p>{{work.moreinfo}}</p>
      <p><a href="{{work.moreUrl}}">{{work.linkText}}</a></p>
      <p>{{work.tech}}, {{work.pubdate}}</p>
    </md-card-content>
    <md-card-actions>
      <a md-raised-button [routerLink]="['/showcase']">back</a>
      <a md-raised-button href={{work.workUrl}} target="_blank">PLAY</a>
    </md-card-actions>
  </md-card>
</div>