<div class="cards-container">

  <mat-card *ngFor="let artwork of artworks">

    <mat-card-title-group>
      <mat-card-title>{{artwork.title}}</mat-card-title>

      <img *ngIf="artwork.displayType === 'list'"
        mat-card-sm-image [alt]="artwork.id"
        src="assets/img/{{artwork.id}}-thumb.png">
    </mat-card-title-group>

    <img *ngIf="artwork.displayType === 'featured'"
      mat-card-image [alt]="artwork.id"
      src="assets/img/{{artwork.id}}.png">

    <mat-card-content>
      <p>{{artwork.description}}</p>
      <p>{{artwork.collab}}</p>
      <div class="inner-grid">
        <p class="specs">{{artwork.pubdate}}</p>
        <p class="specs">{{artwork.tech}}</p>
        <!-- <a mat-raised-button href={{artwork.workUrl}} target="_blank">PLAY</a> -->
        <a mat-fab color="accent"
          href={{artwork.workUrl}} target="_blank"
          matTooltip="Opens in a new window/tab"
          matTooltipPosition="before"
          class="play">PLAY</a>
      </div>
    </mat-card-content>

    <!-- MORE INFO -->
    <mat-card-footer>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         #panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          More information
        </mat-panel-title>
        <mat-panel-description>
          {{panelOpenState ? 'close' : 'open'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- Visible when panel is OPEN -->
      <p>{{artwork.moreinfo}}</p>
        <ul class="awards">
          <li *ngFor="let award of artwork.awards">
            <a href="{{award.url}}">
            {{award.name}}</a>
          </li>
        </ul>
        <p><strong>{{artwork.title}}</strong> publications/exhibitions/performances:</p>
        <ul>
          <li *ngFor="let accolade of artwork.accolades">
            <a href="{{accolade.url}}">
            {{accolade.name}}</a>
          </li>
        </ul>
        <mat-action-row>
          <button mat-button (click)="panel.close()">Close</button>
        </mat-action-row>
    </mat-expansion-panel>
  </mat-card-footer>

  </mat-card>

</div>
