
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 360px));
  grid-gap: 16px;
  justify-content: center;
  align-items: start;
  margin: 16px;
}

.inner-grid {
  display: grid;
  grid-template-columns: auto 1fr minmax(80px, 96px);
  grid-column-gap: 16px;
  align-items: center;
}

.specs {
  color: rgba(0,0,0,.54);
}
.play {
  justify-self: end;
  /* text-transform: uppercase; */
}

mat-card {
  box-sizing: border-box;
}

.mat-card-sm-image {
  margin-bottom: 8px;
}

.mat-expansion-panel-header-description {
  order: -1;
  flex-grow: 0;
  margin-right: 8px;
}

.mat-action-row {
  padding: 4px 8px 4px 24px;
}

@media (max-width: 599px) {
  .mat-expansion-panel-header {
    padding-left: 16px;
    padding-right: 16px;
  }
  /* to counteract the 26px padding on .mat-expansion-panel-body */
  .cx-panel-body {
    margin-left: -8px;
    margin-right: -8px;
  }
}

a {
  color: #A30018;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 16px;
  font-size: 12px;
}
li {
  margin-top: 4px;
}

.awards {
  font-size: 14px;
  list-style-type: none;
  padding-left: 0;
}
